@charset "UTF-8";
/*Định nghĩa màu cho website*/
/*Định nghĩa font-family cho website*/
@import url(../plugin/fonts/opensan/opensans.css);
/*Định nghĩa font-size cho website*/
h1 {
  font-size: 24px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }
