.gb-chitiet-tintuc{
  padding: 50px 0;
}
.gb-chitiet-tintuc-content{
  h1{
    font-size: 36px;
    margin: 20px 0;
  }
  h2{
    font-size: 24px;
    margin: 20px 0;
  }
  h3{
    font-size: 22px;
    margin: 20px 0;
  }
  h4{
    font-size: 20px;
    margin: 20px 0;
  }
  h5{
    font-size: 18px;
    margin: 20px 0;
  }
  h6{
    font-size: 16px;
    margin: 20px 0;
  }
  p{
    font-weight: 400;
    color: $color-1;
    font-size: 14px;
    line-height: 26px;
  }
  ul{
    li{
      list-style-type: inherit;
      font-weight: 400;
      color: $color-1;
      font-size: 14px;
      line-height: 26px;
    }
  }
  .gb-author-time{
    margin: 15px 0;
    li{
      display: inline-block;
      position: relative;
      font-weight: 600;
      color: $color-1;
      font-size: 16px;
      line-height: 26px;
      padding-right: 20px;
      i{
        color: $color-main;
      }
      &:after{
        content: "-";
        position: absolute;
        right: 10px;
      }
      &:last-child{
        &:after{
          content: "";
        }
      }
    }
  }
}

