.gb-duannoibat_datxanhmienbac{
  padding: 50px 0;
  .dx_heading_1_datxanhmienbac{
    text-align: center;
    margin-bottom: 40px;
    .dx_heading_p_datxanhmienbac{
      color: $color-main;
      font-size: 30px;
      text-transform: uppercase;
    }
    p{
      font-size: 16px;
      letter-spacing: .2px;
      line-height: 24px;
      color: $color-1;
      margin-top: 10px;
      strong{
        font-size: 30px;
        color: $color-main1;
      }
    }
  }
  .btn-xemtatca_datxanhmienbac{
    text-align: center;
    a{
      display: inline-block;
      color: $color-white;
      text-align: center;
      font-size: 16px;
      background: $color-main;
      padding: 10px 20px;
    }
  }
}
.gb-duannoibat_datxanhmienbac-item{
  box-shadow: 0 0 9px rgba(196, 196, 196, 0.5);
  border-bottom: 2px solid $color-white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
  .gb-duannoibat_datxanhmienbac-item-img{
    img{
      width: 100%;
      height: 200px;
    }
  }
  .gb-duannoibat_datxanhmienbac-item-text{
    text-align: center;
    padding-top: 10px;
    h2{
      a{
        font-size: 16px;
        color: $color-main;
        line-height: 22px;
        font-weight: 600;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
    }
    .des_datxanhmienbac{
      margin: 10px 0;
      p{
        font-size: 14px;
        color: $color-grey;
        line-height: 24px;
      }
    }
    .prices_datxanhmienbac{
      font-size: 20px;
      color: $color-main1;
      span{
        font-size: 14px;
       color: $color-1;
      }
    }
  }
}