.gb-home-quyenloi{
  padding: 50px 0;
  .gb-home-quyenloi-item{
    img{
      display:  block;
      margin:  0 auto;
    }
    h3{
      margin: 15px 0;
      a{
        display: block;
        text-align: center;
        font-size: 18px;
        color: $color-1;
        line-height: 22px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        transition:  all 0.5s;
        &:hover{
          color: $color-main;
        }
      }
    }
    p{
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: $color-grey;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }
}