.gb-thuvienanh{
  .gb-thuvienanh-body{
    .gb-thuvienanh-item{
      position: relative;
      overflow: hidden;
      &:hover{
        cursor: pointer;
        img{
          transform: scale(1.1);
        }
        h5{
          opacity: 1;
        }
        .overlay-shade{
          opacity: 0.5;
        }
        .icons-holder{
          top: 50%;
          margin-top: -18px;
        }
      }
      img{
        width: 100%;
        height:  auto;
        transition:  all 0.5s;
      }
      h5{
        opacity: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 999;
        overflow: hidden;
        padding: 25px 30px 60px;
        color: $color-white;
        font-size: 24px;
        text-align: center;
        transition: opacity 0.3s ease-in-out 0s;
      }
      .overlay-shade{
        position: absolute;
        display: inline-block;
        vertical-align: middle;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        opacity: 0;
        background: $color-main;
        transition: opacity 0.3s ease-in-out;
      }
      .icons-holder{
        position: absolute;
        top: -10%;
        left: 50%;
        display: inline-block;
        width: auto;
        height: 36px;
        vertical-align: middle;
        z-index: 130;
        color: rgb(255, 255, 255);
        transition: all 0.3s ease-in-out 0s;
      }
    }
  }
}