.gb-donggiaytheoyeucau-slide_vyhofoco{
  min-height: 1120px;
  background-size: cover !important;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:  hidden;
  .display-block_vyhofoco{
    width: 532px;
    height: auto;
    padding: 4%;
    background-color: rgba(255, 255, 255, 0.93);
    text-align: center;
    h2{
      font-size: 36px;
      color: #3d3933;
      font-weight: 600;
      margin-bottom: 10px;
    }
    h4{
      font-size: 24px;
      color: #3d3933;
      margin-bottom: 10px;
    }
    p{
      font-size: 14px;
      line-height: 24px;
      font-weight:  normal;
      margin-bottom: 10px;
    }
    ul{
      li{
        font-size: 14px;
        line-height: 24px;
        font-weight:  normal;
        margin-bottom: 10px;
      }
    }
    a{

    }
  }
}
.gb-donggiaytheoyeucau-slide1_vyhofoco{
  background: url("../images/hethongcuahang/7.jpg") no-repeat fixed;
}
.gb-donggiaytheoyeucau-slide2_vyhofoco{
  background: url("../images/hethongcuahang/8.png") no-repeat fixed;
}
.gb-donggiaytheoyeucau-slide3_vyhofoco{
  background: url("../images/hethongcuahang/9.png") no-repeat fixed;
}