/*PRICING TABLE*/
.uni-shortcode-pricing-table-body{
  padding: 100px 0;
}
.uni-pricing-table-default{
  border: solid 1px #e0e0e0;
  &.panel{
    border-radius: 0;
  }
  .panel-title{
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
  }
  .panel-body{
    padding: 0;
    .the-price{
      height: 100px;
      h2{
        font-size: 60px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: center;
        @media screen and (max-width: 1199px) and (min-width: 992px) {
          font-size: 50px;
        }
        span{
          font-size: 18px;
        }
      }
    }
    .panel-content{
      padding: 0 20px;
    }
    .table{
      margin-bottom: 0;
      tr{
        &:first-child{
          td{
            border-top: none;
          }
        }
        td{
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.71;
          letter-spacing: normal;
          text-align: center;
          color: #666666;
          text-transform: capitalize;
        }
      }
    }
  }
  .panel-footer{
    background: transparent;
    border-top:  none;
    a{
      display:  block;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 50px;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      padding:  0;
      border-radius: 0;
      text-transform:  uppercase;
    }
  }
}

/*PRICING TABLE 1*/
.uni-shortcode-pricing-table-1{
  padding-bottom: 100px;
  .uni-pricing-table-default{
    .panel-title{
      color: $color-main1;
    }
    .panel-body{
      .the-price{
        background: $color-main1;
        h2{
          color: #fff;
        }
      }
    }
    .panel-footer{
      a{
        background: $color-main1;
        border: 1px solid $color-main1;
        transition:  all 0.5s;
        &:hover{
          background: #fff;
          color: $color-main1;
        }
      }
    }
  }
  .panel-profresinal{
    background: $color-main1;
    .panel-title{
      color: #fff;
    }
    .panel-body{
      .the-price{
        background-color: $color-main1;
        h2{
          color: #fff;
        }
      }
      .table{
        tr{
          td{
            color: #fff;
          }
        }
      }
    }
    .panel-footer{
      a{
        background-color: $color-main1;
      }
    }
  }
}
