.gb-header-between-search{
  margin-top: 11px;
  .form-control{
    height: 45px;
    font-size: 13px;
  }
  .btn{
    height: 45px;
  }
  .btn-tim{
    background: $color-main;
    text-shadow: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }
}