.footer-main-content_datxanhmienbac{
  padding: 50px 0;
  border-top: 1px solid #ddd;
  background: $color-main;
  .footer-main-content_datxanhmienbac-element{
    .widget-title{
      font-size: 18px;
      color: $color-white;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .footer-about{
      p{
        font-size: 14px;
        line-height: 25px;
        color: $color-white;
      }
    }

    .foot-danhmuc-noidung{
      ul{
        li{
          margin-bottom: 5px;
          font-size: 14px;
          line-height: 25px;
          color: $color-white;
          a{
            font-size: 14px;
            line-height: 25px;
            color: $color-white;
          }
        }
      }
    }
  }
}

.copyright-area{
  background: $color-main;
  overflow: hidden;
  .copyright-content{
    border-top: 1px solid $color-white;
    padding: 20px 0;
  }
  p{
    color: #fff;
    text-align: center;
  }
}