.gb-faq-page{
  padding:  50px 0;
  .tabs-left > .nav-tabs {
    border-bottom: 0;
  }

  .tab-content > .tab-pane,
  .pill-content > .pill-pane {
    display: none;
  }

  .tab-content > .active,
  .pill-content > .active {
    display: block;
  }

  .tabs-left > .nav-tabs > li {
    float: none;
  }

  .tabs-left > .nav-tabs > li > a {
    margin-right: 0;
    margin-bottom: 3px;
    color: $color-1;
    font-weight: 600;
    border-radius:  0;
  }

  .tabs-left > .nav-tabs {
    border-right: 1px solid #ddd;
  }

  .tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
  }

  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
  }

  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    border-right-color: #ffffff;
  }
  .gb-faq-page-left{
    background: $color-main;
    padding: 30px 0px 30px 20px;
    h4{
      padding-right: 15px;
      font-size: 24px;
      text-transform:  uppercase;
      color: $color-white;
      margin-bottom: 30px;
    }
  }

  /*TOGGLES*/
  .uni-element-toggle{
    h2{
      font-size: 24px;
      font-weight: bold;
      line-height: 1.25;
      text-align: left;
      color: #404040;
    }
    .uni-element-toggle-body{
      padding-top: 100px;
      .accordion-item{
        .accordion{
          padding-top: 60px;
          padding-bottom: 100px;
        }
      }
    }
  }

  //BORDER BOX
  .uni-element-accordion-border-box{
    .accordion-toggle {
      position: relative;
      border: 1px solid #404040;
      cursor: pointer;
      margin: 0;
      border-radius: 3px;
      padding: 10px 20px;
      margin-bottom: 10px;
    }
  }
  .accordion-item{
    h4{
      font-size: 14px;
      font-weight: bold;
      line-height: 2.14;
      text-align: left;
      color: $color-2;
    }
    .accordion-content{
      padding: 10px 0;
      p{
        font-size: 14px;
        line-height: 1.71;
        text-align: left;
        color: #808080;
      }
    }
    .accordion-toggle{
      position: relative;
    }
    .accordion-toggle.active:after{
      content:"\f077";
      position:absolute;
      right:10px;
      top: 5px;
      font-family: FontAwesome;
    }
    .accordion-toggle:before{
      content:"\f078";
      position:absolute;
      right:10px;
      top: 5px;
      font-family: FontAwesome;
    }
    .accordion-toggle.active:before{
      display:none;
    }
    .accordion-content {
      display: none;
    }
    .accordion-toggle.active {
      color: $color-main;
    }
    .item{
      border-bottom: 1px solid $color-grey;
      padding: 15px 0;
    }
  }
}

.gb-faq-page-tab-termcondition{
  h5{
    font-size: 20px;
    line-height: 1.4;
    margin: 0 0 30px 0;
    clear: both;
    text-transform: none;
    font-weight: normal;
    color: $color-main1;
  }
  h6{
    font-size: 18px;
    line-height: 1.4;
    margin: 0 0 20px 0;
    clear: both;
    text-transform: none;
    font-weight: normal;
    color: $color-main1;
  }
  p{
    margin-bottom: 10px;
    text-align: justify;
    color: $color-2;
    font-size: 14px;
    line-height: 1.6;
  }
}