/*NEWS 1*/
.gb-page-duan-item_event{
  .gb-page-duan-item_event-img{
    position: relative;
    z-index: 5;
    overflow: hidden;
    img{
      width: 100%;
      transition: all 0.5s;
    }
    &:hover{
      img{
        transform: scale(1.1);
        transition: all 0.5s;
      }
    }
    .caption-large{
      position: absolute;
      bottom: 20px;
      left:20px;
      background-color: #ffffff;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
      min-width: 115px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: bold;
      color: #777777;
    }
  }
  .gb-page-duan-item_event-text{
    .gb-page-duan-item_event-title{
      margin-top: 24px;
      margin-bottom: 26px;
      h3{
        margin: 0;
        a{
          font-size: 16px;
          text-align: left;
          line-height: 24px;
          color: #222222;
          &:hover{
            color: #f05523;
            text-decoration: none;
          }
        }
      }
    }
    .gb-page-duan-item_event-text-des{
      p{
        font-size: 14px;
        line-height: 26px;
        text-align: left;
        color: #7b7b7b;
      }
    }
  }
  .gb-page-duan-item_event-button{
    margin-top: 30px;
    margin-bottom: 60px;
    .btn {
      border-radius: 0;
    }
    .gb-btn-readmore {
      background: $color-main;
      color: white;
      font-size: 16px;
      padding-left: 30px;
      padding-right: 30px;
      transition: 0.5s;
      &:hover{
        background-color: white;
        color: $color-main;
        border: 1px solid $color-main;
      }
    }
  }
}

/*NEWS 1*/