.gb-noivechungtoi_datxanhmienbac{
  .gb_heading_1{
    width: 100%;
    text-align: center;
    margin: 20px 0;
    h2{
      text-transform: uppercase;
      color: #015ea7;
      font-size: 30px;
    }
  }
  .gb-noivechungtoi_datxanhmienbac-item{
    img{
      width: auto;
      height: 114px;
      margin:  0 auto;
    }
    a{
      display:  block;
      letter-spacing: .2px;
      line-height: 24px;
      color: #48494b;
      font-size: 14px;
      text-align: justify;
    }
  }
}