.gb-cacphong-giaodich_datxanhmienbac{
  .gb_heading_1{
    width: 100%;
    text-align: center;
    margin: 20px 0;
    h3{
      font-family: 'Roboto Slab', serif;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;
      margin: 0;
      font-size: 30px;
      color: $color-main;
    }
  }
  /* Default mode */
  .tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
  }
  .tabbable-line > .nav-tabs > li {
    margin-right: 2px;
  }
  .tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
  }
  .tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid $color-main;
  }
  .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  .tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid $color-main;
    position: relative;
  }
  .tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
  }
  .tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  .tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }
  .portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
  }
  .gb-cacphong-giaodich_datxanhmienbac-item{
    .dx_heading_contact{
      text-align: center;
      p{
        letter-spacing: .2px;
        line-height: 24px;
        color: #48494b;
        font-size: 14px;
        strong{
          font-weight: 600;
        }
      }
    }
    .dx_contact_img{
      text-align: center;
      margin-top: 10px;
      p{
        letter-spacing: .2px;
        line-height: 24px;
        color: #48494b;
        font-size: 14px;
        strong{
          font-weight: 600;
        }
      }
    }
  }
  .dx_lease_detail_map{
    margin: 40px 0;
  }
}