
.rowNodeContentPage{
	float:left;
	width:100%;
	margin-bottom:25px;
}
.rowNodeContentPage:last-child{
	margin-bottom:0px;
}
.leftNCP{
	float:left;
	width:27%;
	margin-right:3%;	
}
.titLeftNCP{
	width:100%;
	font-size:16px;
}
.subLeftNCP{
	width:100%;
	font-size:1.5em;
	color:#6A6A6A;
}
.boxNodeContentPage{
	float:left;
	width:70%;
    background-color: #fff;
	padding:10px 15px;
    border: 1px solid transparent;
    border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.titleRightNCP{
	font-weight:bold;
	font-size:13px;
	margin-top:12px;
}
.subRightNCP{
	float:right;
	font-size:13px;
	margin-top:12px;
}
.choseIMGNews{
	float:left;
	margin:10px 0px;
}
.txtNCP1{
	width:100%;
	border:1px solid #ccc;
	padding:7px 10px;
	margin-top:5px;
    border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	outline:none;
}
.longtxtNCP1, .longtxtNCP2{
	width:100%;
	border:1px solid #ccc;
	padding:7px 10px;
	margin-top:5px;
	margin-bottom:10px;
    border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-family:"Open Sans";
	height:250px;
	outline:none;
}
.longtxtNCP2{
	height:70px;
}

.subColContent{
	float:left;
	width:48%;
	margin-right:4%;
}
.subColContent:nth-child(4){
	margin-right:0%;
}
.sltBV{
	float:left;
	width:100%;
    border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	border:1px solid #ccc;
	font-size:13px;
	padding:7px 7px;
	margin-top:7px;
}
.radioNCP{
	font-size:14px;
	float:left;
	margin-top:10px;
}
.radioNCP input{
	margin-right:8px;
	margin-top:3px;
	float:left;
}
.coverLinkNCP{
	float:left;
	width:100%;
}
.coverLinkNCP{
	float:left;
	width:100%;
    border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	border:1px solid #ccc;
	margin-top:10px;
}
.nameLinkNCP{
	float:left;
	width:35%;
	border:none;
	border-right:1px solid #ccc;
	line-height:30px;
	height:30px;
	font-size:1.5em;
	outline:none;
	text-align:left;
	padding-left:10px;
	background-color:#E5E5E5;
}
.txtLinkNCP{
	float:left;
	width:65%;
	border:none;
	height:28px;
	outline:none;
	padding-left:10px;
	color:#A2A2A2;
}
.footerWeb{
	width:100%;
	text-align:center;
	color:#555555;
	font-size:14px;
	margin-top:20px;
	line-height:1.6;
}



.is_visible1{
	display: none !important;
	visibility: hidden;
}

.row{
	margin-right: -15px;
	margin-left: -15px;
}

.contentPage{
	width: 66.6666666666%;
	float: left;
	padding: 0 15px;
}

.box1{
	width: 100%;
	background-color: #fff;
	float: left;
	padding: 15px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.box1>h2{
	font-size: 17px;
	font-weight: 500;
}

.box1>h3{
	font-size: 15px;
	width: 100%;
	font-weight: normal;
	margin-top: 10px;
}

.box2{
	width: 100%;
	background-color: #fff;
	float: left;
	padding: 15px;
	margin-top: 30px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.box2 h2, .box2 input, .box2 label, .box2 textarea{
	width: 100%;
}

.box2 h2{
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 15px;
}


.box2 label{
	font-size: 13px;
	font-family: Arial;
	color: #555;
	margin-bottom: 6px;
	float: left;
}

.list_item_order{
	width: 100%;
	padding: 20px 0;
}

.item_order{
	width: 100%;
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
	display: table;
	vertical-align: middle;
}

.item_order:last-child{
	border-bottom: 0;
}

.item_image{
	width: 60px;
	float: left;
}

.item_image img{
	width: auto;
	max-width: 100%;
	padding: 2px;
	border: 1px solid #ddd;
}

.item_name{
	width: 45%;
	display: table-cell;
	vertical-align: middle;
	color: #357ebd;
	padding: 0 10px;
}

.item_name>a{
	color: #357ebd;
	font-size: 13px;
}

.item_name>a:hover{
	text-decoration: underline;
}

.item_price{
	display: table-cell;
	vertical-align: middle;
	font-size: 13px;
	padding: 0 15px;
	width: 20%;
}

.item_price:after, .item_total_price:after{
	content: "đ";
}

.countwidth{
	display: table-cell;
	vertical-align: middle;
	font-size: 13px;
	width: 20px;
}

.item_quantity{
	padding: 0 15px;
	display: table-cell;
	vertical-align: middle;
	font-size: 13px;
}

.item_total_price{
	display: table-cell;
	vertical-align: middle;
	font-size: 13px;
	width: 20%;
	text-align: right;
}


.infor-order{
	width: 100%;
	float: left;
	padding: 20px 0;
	font-size: 16px;
	text-align: right;
}

.infor-order span{
	padding: 10px;
}

.sideCusInfo{
	width: 33.333333333333%;
	float: left;
	padding: 0 15px;
	background-color: #fff;
	border-radius: 3px;
}

.sideCusInfo>h4{
	width: 100%;
	color: #357ebd;
	font-size: 16px;
	margin-top: 20px;
}

hr{
	margin:20px 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0; 
    width: 100%;
    float: left;
}

.CusInfo{
	width: 100%;
	float: left;
	padding: 10px;
}


.CusInfo p{
	font-size: 13px;
	width: 100%;
	color: #333;
	margin-bottom: 5px;
}






